@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ////////////////STYLE DES PAGES GLOBALES///////////// */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html, body.accueil {
  height: 100%;
  background-color: #000000;
  background-image: url('img/bg1.jpg');
  background-position: fixed;
  object-fit: cover;
  opacity: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

/* /////////////POSITION DE LA BAR DE NAV//////////// */
.nav {
  position: fixed;
  top: 3%;
  left: 20%;
  z-index: 1;
}

nav {
  text-align: right;
  z-index: 1;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 50px;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
}

.header-with-border {
  position: relative;
}

/* /////////////////////STYLE DE LA BAR DE NAV///////// */
.page {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #ffffff;
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

/* ////////////////ONGLETS BARRE DE NAV///////// */
#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 1;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #ffffff;
}

#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}

#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #ffffff;
  transition: .3s;
}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 207px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #ef4023;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}

.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

/* //////////////STYLE ET POSTION DU CHATBOT////////// */
#chatbot {
  width: 50vh; 
  height: 50vh; 
  position: absolute;
  padding-bottom: 10px;
  margin-top: 12%;
  margin-left: 40%;
}

/*////////////////STYLE ET POSITION DU FOOTER//////// */
.footer {
  position: fixed; 
  bottom: 0;
  background: #000000;
  padding: 1px; 
  font-family: 'Play', sans-serif;
  text-align: center;
  width: 100%; 
  opacity: 0.75; 
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a:hover {
  color: #ffffff;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

/*///////////////FOOTER POUR LA PAGE TERMS & CONDITIONS */
.terms-page .footer {
  position: relative;
}

/* /////////////////POSITION ET STYLE DU LOGO//////// */
#logo {
  position: fixed; 
  top: 2%; 
  left: 15%; 
  width: 9%;
}

/* /////////////////PERSONNES CONNECTES EN DIRECT/////// */
#connected-users {
  position: absolute;
  top: 10px;
  right: 10%; 
  color: #ffffff;
  font-size: 16px;
}

#connected-users strong {
  font-size: 20px;
}

/* ///////////////STYLE DE LA PAGE APPLICATION/////// */
.application {
  text-align: center;
  padding: 50px 20px;
}

.application h1 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
}

.loader-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #aa0000;
  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.application p {
  color: #ffffff;
  font-size: 16px;
}

/* /////////////////////STYLE DE LA PAGE CONTACT//////////// */
.contact {
  padding: 20px;
  width: 45%;
  position: relative;
  margin-left: 27.5%;
  background-color: rgba(38, 32, 32, 0.30);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  overflow: hidden;
  transform: translateY(10%);
}

.contact h1 {
  color: #ffffff;
  text-align: center;
}

.contact p {
  line-height: 1.5;
  color: #ffffff;
}

.contact .form-group {
  margin-bottom: 15px;
}

.contact .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

.contact .form-group input,
.contact .form-group textarea {
  display: flex;
  height: 10%;
  min-height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.contact .form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact .form-group button:hover {
  background-color: #212121;
}

/* /////////////STYLE PAGE TERMS & CONDITIONS//////// */
.terms {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms h1 {
  color: #000000;
  text-align: center;
}

.terms h2 {
  color: #333;
  margin-top: 20px;
}

.terms p {
  line-height: 1.5;
  color: #555;
}

.terms a {
  color: blue; /* ////////////COULEUR BLEU POUR LES MAILS */
  text-decoration: none; /* /////////ENLEVER LE SURLIGNEMENT DES MAILS//////// */
}

.terms a:hover {
  text-decoration: underline; /* //////AJOUTER UN SURLIGNEMENT AU SURVOL///// */
}

.terms-logo {
  margin-left: -50px; /* ////DEPLACER LE LOGO A DROITE////*/
}

/* //////STYLE DE LA PAGE FORUM////// */
#buttonposter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%;
}

#body2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post {
  border: 2px solid black;
  border-radius: 5px;
  width: 80%;
  background-color: #919191;
  color: white;
  margin: 0.5%;
  text-align: left;
  word-wrap: break-word;
}

#postcom {
  border: 2px solid black;
  border-radius: 5px;
  width: 70%;
  background-color: #bdbaba;
  color: white;
  margin: 0.5%;
  text-align: left;
  word-wrap: break-word;
}

.h2 {
  text-align: center;
  text-decoration: dashed;
  display: inline;
}

.h3 {
  text-align: left;
  display: inline;
}

.p {
  text-align: end;
}

.pcom {
  text-align: center;
}

.h4 {
  text-align: center;
}

.h4b {
  text-align: center;
  justify-content: center;
}

/* ///////MESSAGES CONTACT SUCCESS OU ERREUR/////// */
.success-message {
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.error-message {
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}