body {
    background-image: url('img/bg2.jpeg');
    background-size: 100% auto; /* Pour que l'image couvre toute la largeur et ajuste automatiquement la hauteur */
    background-position: center auto; /* Pour centrer l'image horizontalement et la déplacer vers le bas de 50 pixels */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}

.forum-name {
    margin: 0; 
}

.forum-name {
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}


.login-buttons {
    position: absolute;
    top: 3%;
    right: 2%;
}

.login-button {
    background-color: #171717;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid white; 
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: opacity 0.3s;
}

.login-button:hover {
    opacity: 0.5;
}

.signup-button {
    background-color: #f4382d;
    color: #fff;
    padding: 10px 20px;
    border: none; 
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}


.nav {
    position: absolute;
    top: 3%;
    right: 20%;
}

nav {
    text-align: right;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
}

.header-with-border {
    position: relative; /* Ajout de position relative pour référence */
}

.border {
    position: absolute; /* Position absolue pour placer la bordure */
    right: 0;
    width: 100%;
    height: 0.5px; /* Epaisseur de la bordure */
    background-color: #171717; /* Couleur de la bordure */
    margin: 20px 0; /* Espace autour de la bordure */
    margin-top: 1%;
}

.site-logo {
    width: 70px; /* Largeur du logo */
    height: auto; /* Hauteur ajustée automatiquement pour maintenir les proportions */
    margin-left: 1%;
}
