@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  height: 100%;
  background-color: #000000;
  background-image: url('img/bg1.jpg');
  background-position: fixed;
  object-fit: cover;
  opacity: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contener_top {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1%;
  position: fixed;
  z-index: 1;
  
}


.contener_mid {
  width: 100%;
  margin-top: 75px;
  flex: 1;
}

.contener_bottom {
  width: 100%;
  height: 15%;
  
}





/* ////////////////////////////////bmenu navigation //////////////////////////// */







#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 1;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #ffffff;
  
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #ffffff;
  transition: .3s;
}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 207px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #ef4023;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}



#nav-container:focus-within #nav-content {
  transform: none;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 30%;
}


/* //////////////STYLE CHATBOT/////////// */
#chatbot {
  width: 50vh; 
  height: 50vh; 
  position: absolute;
  padding-bottom: 10px;
  margin-top: 12%;
  margin-left: 40%;
}


/* /////////////////////////////////////FOOTER/////////// */



.footer {
  position: relative;
  background: #000000;
  padding: 1px;
  font-family: 'Play', sans-serif;
  text-align: center;
  width: 100%;
  opacity: 0.75;
  height: 100%;
  
  
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a:hover {
  color: #ffffff;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}







/*///////////////////////////STYLE COMPTEUR/////////// */
#connected-users {
  position: fixed;
  top: 20px;
  right: 10%; 
  color: #ffffff;
  font-size: 16px;
}

#connected-users strong {
  font-size: 20px;
}

/* ////////////////////STYLE PAGE APPLICATION//////////////////// */


.application {
  text-align: center;
  padding: 50px 20px;
}

.application h1 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
}

.loader-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #aa0000;
  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
      width: 0;
  }
  50% {
      width: 100%;
  }
  100% {
      width: 0;
  }
}

.application p {
  color: #ffffff;
  font-size: 16px;
}

/* //////////STYLE PAGE CONTACT////////////// */

.contact {
  padding: 20px;

  width: 45%;
  position: relative;
  margin-left: 27.5%;
  background-color: rgba(38, 32, 32, 0.30);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  overflow: hidden;
  
  transform: translateY(-5%);
}

.contact h1 {
  color: #ffffff;
  text-align: center;
}

.contact p {
  line-height: 1.5;
  color: #ffffff;
}

.contact .form-group {
  margin-bottom: 15px;
}

.contact .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

.contact .form-group input,
.contact .form-group textarea {
  display: flex;
    height: 10%;
    min-height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-top: 3%;
    
    
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.contact .form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact .form-group button:hover {
  background-color: #212121;
}

/* ////////////////////COULEURS MESSAGES ENVOYE OU ERREUR */

.success-message {
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.error-message {
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}


/* //////////////STYLE PAGE TERMES & CONDITIONS//////// */

.terms {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms h1 {
  color: #000000;
  text-align: center;
}

.terms h2 {
  color: #333;
  margin-top: 20px;
}

.terms p {
  line-height: 1.5;
  color: #555;
}

/* Style pour les liens dans la section .terms */
.terms a {
  color: blue; /* Couleur bleue pour les adresses e-mail */
  text-decoration: none; /* Pour enlever le soulignement par défaut des liens */
}

.terms a:hover {
  text-decoration: underline; /* Ajouter un soulignement au survol */
}

.terms-logo {
  margin-left: -50px; /* Déplacement vers la gauche */
}


/* /////////////////////////////STYLE PAGE FORUM////////////////////////////////////////// */

#buttonposter{
    
  display: flex;
  justify-content: end;
  justify-content: space-evenly;
  margin-top: 15%;


}
#body2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  
}

#post{
  
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  width:30%;
  height: 500px;
  
  color: white;
  margin: 0.5%;
  text-align: left;
  word-wrap : break-word; 
  background-color: rgba(255,255,255,0.13);
  
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}



#postcom{
  
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  width: 70%;
  background-color: #bdbaba;
  color: white;
  margin: 0.5%;
  text-align: left;
  word-wrap : break-word; 
}



.h2 {
  text-align: center;
  text-decoration: dashed;
  display: inline;
}
.h3 {
  text-align: left;
  display: inline;
  
}

.p{
  text-align: end;
}

.pcom{
  text-align: center;
}
.h4 {
  text-align: center;
  
  
}
.h4b {
  text-align: center;
  justify-content: center;
  
};


/* ////////////////////style modal page forum////////////////////////////////////////////////////////////////////////// */

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #222222;
  border-radius: 1000px;
  text-transform: uppercase;
  color: #d41d1d;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
.wrapper a:hover{
  font-size: 30px;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: all .4s;
  width: 60%;
  height: 85%;
}

.modal:target {
  visibility: visible;
  opacity: 100;
}

.modal__content {
  background-color: rgba(0, 0, 0, 0.644);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(32, 32, 32, 0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  border-radius: 4px;
  position: fixed ;
  font-family: 'Roboto', sans-serif;
  width: 60%;
  height: 85%;
  max-width: 90%;
  
  
}

.modal__content h1{
  color: white;
  text-align: start;
  margin-top: 2.5%;
  margin-left: 5%;
  
}

.modal__content form {
    margin-top: 5%;
    
    width: 90%;
    color: #ddd;
    height: 50%;
    margin-left: 5%;
    text-align: center;
    
    

}
.modal__content form textarea {
  width: 100%;
  height: 80%;
  resize: none;
  border-radius: 30px;
  padding: 15px;
  
}

.modal__footer {
  
  a {
    color: #585858;
  }
  i {
    color: #d02d2c;
  }
}
.modal__close {
  position: absolute;
  font-size: 40px;
  top: 10px;
  right: 10px;
  color: #bd1616;
  text-decoration: none;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
